body
{
    background-color: black;
    color: whitesmoke;
    font-family: "Righteous";
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(2em, 7%) 1fr minmax(2em, 7%);
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
}

.wrapper > *:first-child {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
    width: 100%;
}

.text-center{
    text-align: center;
}