:root {
    --bg-color-primary: rgba(109, 13, 0, 0.2);
    --bg-blur: blur(2px);
}


#project_Wrapper
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-gap: 1em;
}

#project_Wrapper > *
{
    background-color: rgb(150, 150, 150, 0.3);
    border-radius: 1rem;
    padding: 1em;
}

#project_Wrapper > * > p
{
    font-family: "Ubuntu Mono";
}

#project_Wrapper > * > *:is(h1, h2, h3, h4, h5, h6)
{
    margin: 0.5em 0;
}

#project_Wrapper > *[status="done"]
{
    border: solid green 5px;
}

#project_Wrapper > *[status="onhold"]
{
    border: solid yellow 5px;
}

#project_Wrapper > *[status="active"]
{
    border: solid cyan 5px;
}

#project_Wrapper > *[status="planning"]
{
    border: solid purple 5px;
}

#project_Wrapper > *[status="dropped"]
{
    border: solid maroon 5px;
}

.legend-text[status="done"]
{
    color: green;
}

.legend-text[status="onhold"]
{
    color: yellow;
}

.legend-text[status="active"]
{
    color: cyan;
}

.legend-text[status="planning"]
{
    color: purple;
}

.legend-text[status="dropped"]
{
    color:  maroon;
}

.legend-text
{
    justify-items: center;
    text-align: center;
}

.legend-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.legend-list p {
  display: flex;
  align-items: stretch;
  gap: 0.75rem;
}

.legend-list p {
  flex-wrap: nowrap;
}

.legend-list p > .legend-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex: 1;
}

.legend-text {
  font-weight: 600;
}

.legend-text-split {
  width: 1px;
  background-color: currentColor;
  align-self: stretch;
}


@media screen and (max-width: 650px) {
    #project_Wrapper {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 830px) {
    .legend-text
    {
        justify-items: start;
        text-align: start;
    }

    .legend-list {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .legend-list p {
        display: flex;
        align-items: center;
        gap: 0;
    }

    .legend-list p > .legend-content {
        flex-direction: row;
        gap: 0.5rem;
        flex: 1;
    }


    .legend-text-split {
        width: 0px;
    }
}

header {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    background-color: var(--bg-color-primary);
    backdrop-filter: var(--bg-blur);
    padding: 1em;
    border-radius: 1rem;
    text-align: center;
}

main {
    opacity: 0;
    animation: fadeIn 1s ease-in-out 0.5s forwards;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--bg-color-primary);
    backdrop-filter: var(--bg-blur);
    padding: 1em;
    border-radius: 1rem;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}