APP_ENV="production"
APP_URL="https://offthegridcg.me"
APP_TIMEZONE="Europe/Stockholm"

MYSQL_HOST="localhost"
MYSQL_PORT="3306"
MYSQL_DATABASE=""
MYSQL_USER=""
MYSQL_PASSWORD=""

GTM_TAG=""
GOOGLE_VERIFICATION=""
